*{
    margin: 0px;
}
.main2{
    display: flex;
    gap: 40px;
}
.main2 li{
    list-style-type: none;
}
.main3{
    display: flex;
}
.main3-left{
    flex: 2;
}
.main3-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.main3-right img{
    max-width: 100%;
    height: auto;
}
.four{
    display: flex;
    justify-content: space-between;
}
.four div{
    flex: 1;
}
.five{
    display: flex;
    align-items: center;
    gap: 30px;
}
.five div button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
