*{
    margin: 0px;
}
header{
    width: 100%;
    background-color: rgba(23, 23, 23,0.15);
    padding: 20px;
    position: absolute;
    top: 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: auto;
}
header a{
    text-decoration: none;
    margin-right: 100px;
    font-size: var(--font-size-14);
    letter-spacing: 1px;
    color: rgba(255, 255, 255,0.719);
    font-family: Tahoma;
}
.main3{
    display: flex;
}
.main3-left{
    flex: 2;
}
.main3-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.main3-right img{
    max-width: 100%;
    height: auto;
}
.four{
    display: flex;
    justify-content: space-between;
}
.four div{
    flex: 1;
}
.five{
    display: flex;
    align-items: center;
    gap: 30px;
}
.five div button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
